<article>
    <h1>Edit</h1>
<form class="editPost container">
  <input name="postTitle" type="text" class="center" value="{{post.title}}"/>
  <input name="postText" type="text" class="center" value="{{post.post_text}}"/>
  <button type="submit" class="btn btn-danger">Edit Post</button>
</form>
</article>

<script src="/js/editPost.js"></script>