<article>
    <h1>Edit</h1>
<form class="editPost">
  <input name="postTitle" type="text" value="{{post.title}}"/>
  <input name="postText" type="text" value="{{post.post_text}}"/>
  <button type="submit">Edit Post</button>
</form>
</article>

<script src="/js/editPost.js"></script>