<article>
  <a href="/example">Lets give the food the most honest feedback.</a>
  <h2>
    Edit Post
  </h2>
  <form class="clearfix mb-4" action="POST">

  <div class="dropdown" style="float:left;"></div>
  <label for="number">How would you rate the food? </label>
   <select id="number" class="dropdown-content">
    <option value="">Select from 1 to 10 "10 being the tastiest"</option>
      <option value="1">1</option>
        <option value="2">2</option>
          <option value="3">3</option>
            <option value="4">4</option>
              <option value="5">5</option>
                <option value="6">6</option>
                  <option value="7">7</option>
                    <option value="8">8</option>
                      <option value="9">9</option>
                        <option value="10">10</option>
              </select>
            </div>

            <div class="form-group">
            <label for="example-text" >What was the name of the food?</label>
            <input type="text" 
            id="example-text" 
            name="food-name" 
            class="form-control" 
            aria-example="example-name" 
            placeholder="What did you eat">
          </div>
           <div class="form-group">
            <label for="example-text" >How would you describe the food's taste?</label>
            <input type="text" 
            id="example-text" 
            name="dream-title" 
            class="form-control" 
            aria-example="example-describe" 
            placeholder="Tell us about the food">
          </div>
            <div class="form-group">
            <label for="example-text" >Would you recommend this Restaurant?</label>
            <input type="text" 
            id="example-text" 
            name="dream-title" 
            class="form-control" 
            aria-example="example-recommend" 
            placeholder="Yes? No?">
          </div>
           <div class="form-group">
            <label for="example-text" >Rate Your Food</label>
            <input type="text" 
            id="example-text" 
            name="dream-title" 
            class="form-control" 
            aria-example="example-text" 
            placeholder="From 1 thumbs down to 10 yummy">
          </div>
            <div class="form-group">
            <label for="example-text" > Will you consider coming back?</label>
            <input type="text" 
            id="example-text" 
            name="dream-title" 
            class="form-control" 
            aria-example="example-consider" 
            placeholder="Yes? No?">
          </div>
          <div class="form-group">
            <label for="example-description">Food Feedback </label>
            <textarea class="form-control" 
            id="example-description" 
            aria-example="example-description" 
            placeholder="Tell us about your food experience"></textarea>
          </div>
          <button id="submit" 
          class="btn btn-red float-left">Food Feedback History</button>
        </form>
</article>



