<article>
  <a href="/example">Lets give the food the most honest feedback.</a>
  <h2>
    Edit Post
  </h2>
  <form class="clearfix mb-4" action="POST">

  <div class="dropdown" style="float:left;"></div>
  <label for="number">How would you rate the food? </label>
   <select id="number" class="dropdown-content">
    <option value="">Select from 1 to 10 "10 being the tastiest"</option>
      <option value="1">1</option>
        <option value="2">2</option>
          <option value="3">3</option>
            <option value="4">4</option>
              <option value="5">5</option>
                <option value="6">6</option>
                  <option value="7">7</option>
                    <option value="8">8</option>
                      <option value="9">9</option>
                        <option value="10">10</option>
              </select>
            </div>