
<article>
  <h1>{{post.title}}</h1>
  <p>{{post.post_text}}</p>
</article>
{{#each post.comments as |comment|}}
<article class="disComment">
  <div>
    {{user.username}} 
    <p>{{comment_text}}</p>
  </div>
</article>
{{/each}}
{{#if loggedIn}}
<form class="addComment">
  <div>
    <textarea name="commentText"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{!-- script for commenting here --}}
<script src="/js/comment.js"></script>

  

 