
<article>
  <h1>{{post.title}}</h1>
  <p>{{post.post_text}}</p>
</article>
{{#each post.comments as |comment|}}
<article class="disComment">
  <div>
    {{user.username}} 
    <p>{{comment_text}}</p>
  </div>
</article>
{{/each}}
{{#if loggedIn}}
<form class="addComment">
  <div>
    <textarea name="commentText"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{!-- script for commenting here --}}
<script src="/js/comment.js"></script>

  

  <div class="dropdown" style="float:left;"></div>
  <label for="number">How would you rate the food? </label>
   <select id="number" class="dropdown-content">
    <option value="">Select from 1 to 10 "10 being the tastiest"</option>
      <option value="1">1</option>
        <option value="2">2</option>
          <option value="3">3</option>
            <option value="4">4</option>
              <option value="5">5</option>
                <option value="6">6</option>
                  <option value="7">7</option>
                    <option value="8">8</option>
                      <option value="9">9</option>
                        <option value="10">10</option>
              </select>
            </div>




