
<div id="main-container" 
    class="container">
    <div>
    <div class="jumbotron jumbotron-fluid hero">
      <p class="display-4 text-black d-none d-sm-block text-center">Welcome to Rate The Food </p>
      <hr class="my-4">
      <div class="col">

        