

<div id="main-container" 
    class="container">
    <div>
    <div class="jumbotron jumbotron-fluid hero">
      <p class="display-6 text-black d-none d-sm-block text-center"
      >Welcome to Rate The Food</p>
      <nav>
        <ol>
          <li><a href="/profile">My Profile</a></li>
        </ol>
      </nav>
      <hr class="my-4">
      <div class="col">

    
<p class="display-5 text-black text-center">
     Let's begin with your Food Adventure.
       <br>
            Ready to start? -> 
            <a class="signup" href="/registration" 
            >Create Account</a> to see what users think of your favorite food!
            </p>
      </div>
    </div>
  </div>

   <div class="row likeFood">
        <div class="col">
        <h1 class="strong lead text-black text-center">
            Because who doesn't like food right?</h1>
        </div>
    </div>

    <div>
      <ol class="postList">
        {{#each post }}
        <li>
          <article class="post">
           <h2 ><a href="/post/{{id}}">{{title}}</a></h2>
           <p>{{post_text}}</p>
          </article>
        </li>
        {{/each}}
      </ol>
    </div>    

