

<div id="main-container" 
    class="container">
    <div>
    <div class="jumbotron jumbotron-fluid hero">
      <p class="display-6 text-black d-none d-sm-block text-center"
      >Welcome to Rate The Food</p>
      <hr class="my-4">
      <div class="col">

    
<p class="display-5 text-black text-center">
     Let's begin with your Food Adventure.
       <br>
            Ready to start? -> 
            <a class="signup" href="/registration" data-register={{register}}
            >Create Account</a> to see what users think of your favorite food!
            </p>

        {{/if}}

        <h5 id="if-login-err" class="text-center"></h5>
      </div>
    </div>
  </div>

   <div class="row likeFood">
        <div class="col">
        <h1 class="strong lead text-black text-center">
            Because who doesn't like food right?</h1>
        </div>
    </div>    

