<div class="container">
  <div class="row">
    <div class="col col-md-8">
      <header class="create-user-wrap header-wrap"
       align="center">
        <h1 class="text-black"
        >Login to Your Foodie Account</h1>
        <h4 id="create-err-msg"></h4>
      </header>

      <h4 id="msg-err"></h4>
      <form id= "create-form">
        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black" 
            for="username">Username:</label>
            <input type="text"
            class="form-control" 
            id="username" 
            placeholder="Enter Username">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black" 
            for="Email">Email:</label>
            <input type="email"
            class="form-control" 
            id="Email" 
            placeholder="Enter Email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black"
            for="Password">Password:</label>
            <input type="password"
             class="form-control"
              id="Password" 
              placeholder="Enter Password Here">
          </div>
        </div>


        <div><h4 id="strong message"></h4></div>
         <button type="submit"
          id="add-user" 
          class="btn btn-red">Submit
         </button>
      </form>

        <form id= "create-form">
        <div class="form-row">
          <div class="form-group col-md-8">
            <h4>Create Your Account!</h4>
            <label class="text-black" 
            for="username">Username:</label>
            <input type="text"
            class="form-control" 
            id="username" 
            placeholder="Enter Username">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black" 
            for="Email">Email:</label>
            <input type="email"
            class="form-control" 
            id="Email" 
            placeholder="Enter Email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black"
            for="Password">Password:</label>
            <input type="password"
             class="form-control"
              id="Password" 
              placeholder="Enter Password Here">
          </div>
        </div>


        <div><h4 id="strong message"></h4></div>
         <button type="submit"
          id="add-user" 
          class="btn btn-red">Submit
         </button>
      </form>
    </div>
  </div>
</div>
{{!-- <script src="/javascript/login.js"></script> --}}