<div class="container">
  <div class="row">
    <div class="col col-md-8">
      <header class="create-user-wrap header-wrap"
       align="center">
        <h1 class="text-black"
        >Login to Your Foodie Account</h1>
        <h4 id="create-err-msg"></h4>
      </header>

      <h4 id="err-msg"></h4>
      <form id= "create-form">
        <div class="form-row">
          <div class="form-group col-md-8">

<<<<<<< HEAD
            <label class="text-black" 
            for="username">Username:</label>
            <input type="text"
            class="form-control" 
            id="username-login" 
            placeholder="Enter Username">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black" 
            for="Email">Email:</label>
            <input type="email"
            class="form-control" 
            id="email-login'" 
            placeholder="Enter Email">
          </div>
        </div>
=======
            <label class="text-black" for="emailLogin">Email:</label>
            <input type="text" class="form-control" id="emailLogin" placeholder="Enter Email">
          </div>
        </div>

>>>>>>> b2655ffc56d7beee72979b20013b6e2d474e600a

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black"
            for="passwordLogin">Password:</label>
            <input type="password"
             class="form-control"
<<<<<<< HEAD
              id="password-login" 
=======
              id="passwordLogin" 
>>>>>>> b2655ffc56d7beee72979b20013b6e2d474e600a
              placeholder="Enter Password Here">
          </div>
        </div>


        <div><h4 id="strong message"></h4></div>
         <button type="submit"
          id="add-user" 
          class="btn btn-red">Submit
         </button>
      </form>

        <form id= "signUpForm">
        <div class="form-row">
          <div class="form-group col-md-8">
            <h4>Create Your Account!</h4>
            <label class="text-black" 
            for="usernameSign">Username:</label>
            <input type="text"
            class="form-control" 
<<<<<<< HEAD
            id="username-signup'" 
=======
            id="usernameSign" 
>>>>>>> b2655ffc56d7beee72979b20013b6e2d474e600a
            placeholder="Enter Username">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black" 
            for="emailSign">Email:</label>
            <input type="email"
            class="form-control" 
<<<<<<< HEAD
            id="email-signup" 
=======
            id="emailSign" 
>>>>>>> b2655ffc56d7beee72979b20013b6e2d474e600a
            placeholder="Enter Email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">

            <label class="text-black"
            for="passwordSign">Password:</label>
            <input type="password"
             class="form-control"
<<<<<<< HEAD
              id="password-signup" 
=======
              id="passwordSign" 
>>>>>>> b2655ffc56d7beee72979b20013b6e2d474e600a
              placeholder="Enter Password Here">
          </div>
        </div>


        <div><h4 id="strong message"></h4></div>
         <button type="submit"  class="btn btn-red">Submit</button>
      </form>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>


