*{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    }
    
    body {
    background-attachment: relative;
    background-size: 100%;
    background-image: url(https://res.cloudinary.com/hio22hxcn/image/upload/ar_3:2,c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/v1568801019/wq7kivplwe0ccwm3waj8);
    }

    .container
    
    .jumbotron {
    background: rgba(5, 2, 2, 0.265);
    
    }
    
    .hero {
    margin: 2.5rem .5rem 0 .5rem;
    padding: 1.5rem;
    }
    
    .container {
    background: rgba(190, 179, 179, 0.705);
    border-radius: 1rem;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding-bottom: 5%;

    opacity: 1;
    /* width: 100vh; */
    }
    
    .topnav {
    list-style: none;
    }
    
    nav {
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding-left:15%;
    padding-right:15%;
    padding-top:20px;
    }

    a {
        text-decoration: none;
        color:rgb(75, 15, 15)
    }

    .HEAD {
        color: rgb(255, 255, 255) ;
        background-color: rgb(66, 20, 20);
        border-radius: 12px;
    }

    .homeText {
        color: rgb(44, 9, 6);
    }

    .foodie {
        text-decoration: underline;
    }

    
    .msg-margin {
    margin-top: 0.7rem;
    margin-bottom: 0.1rem;
    }
    
    .lead {
    font-size: 1.5rem;
    font-weight: 400;
    }
    
    .spacing {
    margin: 5rem;
    }
    
    hr {
    background-color: white !important;
    }
    
    .signup {
    color: rgb(158, 13, 13);
    font-weight: bold;
    text-decoration:solid;
    }
      
    .signup:hover {
    text-decoration: solid;
    color: rgba(243, 0, 0, 0.432);
      }
    
    .editbuttonspace {
    margin-right: 1.5rem;
    margin-bottom: 1.1rem;
    float: right;
    font-weight: 500;
    }
    
    .font-utility {
    font-size: 1.7rem;
    }
      
    .secondary-font-utility {
    font-size: 1.1rem;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        box-shadow: 0px 10px 14px 0px black; 
        background-color: white;
        display: none;
        min-width: 160px;
        position: absolute;
        right: 1;
        z-index: 1;
    
    }
    
    .dropdown:hover .dropdown-content {
    display: block;
    }
    
    .dropdown:hover .dropbtn {
    background-color: #e00e0e;
    
    }
    
    .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    }
    
    .dropdown-content a:hover {
    background-color: white;
    }
      
    .msg-margin {
    margin-top: 0.6rem;
    }
    
    #go-home {
    height: 85px;
    width: auto;
    }
    
    hr {
    background-color: white !important;
    }
    @media screen and (max-width: 480px) {.font-utility {
    font-size: 1.3rem;
    }
}
    .secondary-font-utility {
    font-size: 1.1rem;
    }