*{
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
margin:0;
padding:0;
}

body {
background-attachment: fixed;
color: rgb(16, 10, 10);
background-position: 90%;
background-size: cover;
background-image:url (https://res.cloudinary.com/hio22hxcn/image/upload/ar_3:2,c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/v1568801019/wq7kivplwe0ccwm3waj8);
}

.card-body {
  color:black;
}

.jumbotron {
background: rgba(5, 2, 2, 0.265);
}

.hero {
margin: 2.5rem .5rem 0 .5rem;
padding: 1.5rem;
}

#user-form{
padding: 20px;
border-radius: 15px;
margin: 20px 0;
}

.header-wrap{
padding: 20px;
border-radius: 15px;
margin: 20px 0;
}
  
#create-form{
padding: 20px;
border-radius: 15px;
margin: 20px 0;
}
  
.create-user-wrap {
padding: 20px;
border-radius: 15px;
margin: 20px 0;
}

.container {
background: rgba(241, 114, 119, 0.6);
border-radius: 1rem;
height: 100%;
margin-top: 15%;
margin-bottom: 3%;
padding-bottom: 3%;
width: 100vh;
}

.dropbtn {
border: 0ch;
 background-color: #81818181;
color: rgba(0, 0, 0, 0.806);
cursor: pointer;
font-size: 15px;
 padding: 14px;
}
.topnav {
list-style: none;
}

nav {
align-items:center;
display:flex;
flex-wrap:wrap;
justify-content:space-between;
padding-left:15%;
padding-right:15%;
padding-top:20px;
}

.modal {
color: rgb(0, 0, 0);
}

.list-group-item {
  line-height: 2.3;
}

.userId h2{
text-transform: capitalize;
}

.header-wrap h1 {
text-transform: capitalize;
}

.msg-margin {
margin-top: 0.7rem;
margin-bottom: 0.1rem;
}

.lead {
font-size: 1.5rem;
font-weight: 400;
}

.spacing {
margin: 5.5rem;
}

hr {
background-color: white !important;
}

.signup {
color: red;
font-size:x-large;
font-weight: bold;
text-decoration:solid;
}
  
.signup:hover {
text-decoration: solid;
color: rgb(131, 5, 5);
  }

.editspace {
margin-right: 1.5rem;
margin-bottom: 1.1rem;
float: left;
font-weight: 500;
}

.font-utility {
font-size: 1.7rem;
}
  
.secondary-font-utility {
font-size: 1.1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    box-shadow: 0px 10px 14px 0px black; 
    background-color: white;
    display: none;
    min-width: 160px;
    position: absolute;
    right: 1;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #e00e0e;

}

.dropdown-content a {
color: rgb(0, 0, 0);
padding: 10px 14px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: white;
}
  
.msg-margin {
margin-top: 0.6rem;
}

[data-useremail="true"] {
  color: black !important;
}

[data-register="true"] {
  color: black !important;
}

#go-home {
height: 70px;
width: auto;
}

#create-err-msg, #login-err-msg, #update-err-msg {
color: rgb(217, 46, 12) !important;
}

hr {
background-color: white !important;
}
@media screen and (max-width: 480px) {.font-utility {
font-size: 1.3rem;
}
.secondary-font-utility {
font-size: 1.1rem;















