<div id="user-info" 
     class="modal"   
     tabindex="-1" 
     role="dialog">
  <div class="modal-dialog" 
       role="document">
    <div class="modal-content" >
      <div class="modal-header" >
        <h5 class="modal-title" >Enter E-mail and password to log in </h5>
       <button type="button" 
       class="EmailPw" 
      aria-label="E-mailPw"
      data-dismiss="modal" >
          <strong aria-hidden="true">&times;</strong>
        </button>
      </div>
   <div class="modal-body">
        <form>
          <div class="form-group" >
            <label for="inputAccount">Enter E-mail</label>
            <input type="text" 
             id="email"
             class="form-control" >
          </div>
          <div class="form-group" >
            <label for="inputAccount">Enter password</label>
            <input type="password" 
             id="user_password"
             class="form-control" >
       </div>
     </form>
   </div>
      <div 
        class="modal-footer">
        <button type="button" 
        class="btn btn-red" 
        data-dismiss="modal">Cancel</button>
        <button type="button" 
        id="login" 
        class="btn btn-red">Login</button>
      </div>
    </div>
  </div>
</div>







